asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
configparser==4.0.2
cryptography==2.3
entrypoints==0.3
enum34==1.1.6
flake8==3.7.9
functools32==3.2.3.post2
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
mccabe==0.6.1
meld3==1.0.2
pycairo==1.16.2
pycodestyle==2.5.0
pycrypto==2.6.1
pyflakes==2.1.1
pygobject==3.26.1
python-memcached==1.59
pyxdg==0.25
requests==2.22.0
SecretStorage==2.3.1
six==1.14.0
soupsieve==1.9.5
supervisor==3.3.1
typing==3.7.4.1
urllib3==1.25.7
uWSGI==2.0.18
